* {
    font-family: 'Crimson Pro', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/* nav section */
.main-nav {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 0px 40px 0px;

}

.logo-name {
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}

.fream-color {
    color: #FF42A5;
}

.logo {
    display: flex;
}

.nav-section-right>ul {
    display: flex;
    align-items: center;
}

.nav-section-right>ul li {
    list-style: none;
    margin-right: 20px;
}

.nav-section-right>ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-right {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px 23px;
    display: flex;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500
}

i.fa-brands.fa-youtube {
    color: red;
    margin-right: 15px;
}

i.fa-brands.fa-tiktok {
    color: #000;
}

/* nav secton close */
main {
    width: 80%;
    margin: 0px auto;
}

/* banner section */
.banner {
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    color: #0B0223;
    font-size: 42px;
    font-weight: 600;
}

h1.banner-name {
    font-size: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-discription {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.sing-in-btn {
    padding: 18px 40px;
    color: #FFF;
    border-radius: 48px;
    background: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    text-transform: uppercase;
    margin-right: 15px;
}

.banner-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}








@media screen and (max-width:576px) {
    .main-nav {
        flex-direction: column;
        margin-bottom: 15px;
        text-align: center;
    }

    .logo {
        flex-direction: column;
    }

    .nav-section-right>ul {
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 20px;
    }

    /* nav section close */
    main {
        justify-content: center;
    }

    /* banner section */
    .banner {
        flex-direction: column-reverse;
    }

    .img-contain-for-banner>img {
        width: 250px;
        margin: 0px auto;
        margin-bottom: 40px;
    }

    .banner-contain {
        text-align: center;
    }

    h1.banner-name {
        font-size: 45px;
    }

    .banner-title {
        font-size: 20px;
    }

    .sing-in-btn {
        margin-bottom: 30px;
    }

    .banner-discription {
        font-size: 15px;
    }

    /* banner section close */
}